@model PassBaseViewModel

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">菜单设置</h5>
    <p class="card-text">管理你的菜单，给菜单设置名称、顺序等..</p>

    <a class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="MenuAmManagement" asp-controller="AdminMenu">前往</a>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">文章管理</h5>
    <p class="card-text">发表文章、操作文章，定时添加和归类..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="ArticleAmManagement" asp-controller="AdminArticle">前往</a>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">文件图片</h5>
    <p class="card-text">上传文件链接，或上传图片后可以插入文章、删除图片以及访问自定义链接..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="FileAmManagement" asp-controller="AdminFile">前往</a>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">链接显示</h5>
    <p class="card-text">"看看这些"组件，添加显要的链接或者你满意的文章，让访客在侧边栏能够访问</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="LoveLookAmManagement" asp-controller="AdminLoveLook">前往</a>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">站点设置</h5>
    <p class="card-text">基本的配置，包含站点的名称、个性签名以及网站尾部的显示内容..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="EditSiteSetting" asp-controller="AdminSiteSetting">前往</a>
  </div>
</div>