@model PassBaseViewModel

<input hidden id="pt" value="@Model.PassToken"/>
<input hidden id="accountName" value="@Model.AccountName"/>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">菜单设置</h5>
    <p class="card-text">管理你的菜单，给菜单设置名称、顺序..</p>

    <a class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="MenuAmManagement" asp-controller="AdminMenu">前往</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">文章管理</h5>
    <p class="card-text">发表、操作文章，归类和加锁..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="ArticleAmManagement" asp-controller="AdminArticle">前往</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">贴个"闲言碎语"</h5>
    <p class="card-text">管理小组件"闲言碎语"中的内容..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="GossipAmManagement" asp-controller="AdminGossip">前往</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">文件图片</h5>
    <p class="card-text">上传文件链接，或上传图片来插入文章、以及自定义链接..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="FileAmManagement" asp-controller="AdminFile">前往</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">链接显示</h5>
    <p class="card-text">"看看这些"组件，添加显要的链接或者你满意的文章，让访客在侧边栏能够访问..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="LoveLookAmManagement" asp-controller="AdminLoveLook">前往</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">站点设置</h5>
    <p class="card-text">基本的配置，包含站点名称、签名以及尾部内容、个性化管控..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="EditSiteSetting" asp-controller="AdminSiteSetting">前往</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">留言管理</h5>
    <p class="card-text">管理内容的评论、回复，审核它们，回复留言者以及邮件通知..</p>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="LeaveNotPassAmManagement" asp-controller="AdminLeaveMessage">未审核的</a>
    <a  class="btn btn-primary" asp-route-pt="@Model.PassToken" asp-action="LeavePublicAmManagement" asp-controller="AdminLeaveMessage">已公开的</a>
  </div>
</div>
<p class="placeholder-glow">
  <span class="placeholder col-12"></span>
</p>
<div>
    <p>
      <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseMore-emailSett" role="button" aria-expanded="false" aria-controls="collapseMore-emailSett">
        邮箱配置⬇
      </a>
      <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseMore-dataBack" role="button" aria-expanded="false" aria-controls="collapseMore-dataBack">
        数据备份⬇
      </a>
    </p>
    <div class="collapse" id="collapseMore-emailSett">
      <div class="card card-body">
          <p>请查阅您使用的邮箱服务提供商的SMTP相关文档说明。通常邮箱账户即您的发信Email账户，授权密码即邮箱密码。但诸如QQ邮箱需要使用授权码而不是QQ邮箱密码。</p>
      </div>
      <div class="card card-body">
        <div class="row">
            <input style="width:50%" id="email" nmae="Email" maxlength="25" type="email" class="form-control" placeholder="邮箱账户x@@x.x">
            <input style="width:50%" id="emailPassword" nmae="EmailPassword" maxlength="32" type="password" class="form-control" placeholder="smtp授权密码">
        </div>
        <div class="row">
            <input style="width:50%" id="smtpHost" nmae="SmtpHost" maxlength="12" type="text" class="form-control" placeholder="smtp服务地址">
            <input style="width:50%" id="smtpPort" nmae="SmtpPort" maxlength="6" type="number" class="form-control" placeholder="Smtp服务端口">
        </div>
        <div class="row">
            <input class="col-1 form-check-input" id="smtpIsUseSsl" type="checkbox" checked nmae="SmtpIsUseSsl">
            <label class="col-11 form-check-label" for="smtpIsUseSsl">Smtp邮箱服务是否必须使用ssl</label>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary btn-sm" type="button" onclick="smtpEmailServerUp()">确认</button>
            </div>
            <div class="col-9"></div>
        </div>
      </div>
    </div>
        <div class="collapse" id="collapseMore-dataBack">
      <div class="card card-body">
          <p>请输入数据库用户名和密码，若不明白，请咨询您的数据库提供服务商或云服务器提供商。暂时只支持MySQL数据库的备份，CoolNetBlog默认使用MySQL，若您是二次开发者请忽略。</p>
      </div>
      <div class="card card-body">
        <div class="row">
            <input style="width:50%" id="dbUserName" nmae="dbUserName" maxlength="25" type="email" class="form-control" placeholder="数据库用户名">
            <input style="width:50%" id="dbPassword" nmae="dbPassword" maxlength="32" type="password" class="form-control" placeholder="数据库密码">
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary btn-sm" type="button" onclick="dataBackClick()">确认</button>
            </div>
            <div class="col-9"></div>
        </div>
      </div>
    </div>
</div>
<script>
    // ajax调用更改当前管理员账号的邮箱smtp服务信息
    function smtpEmailServerUp(){
        var pt = $('#pt').val();
        var accountName = $('#accountName').val();
        var email = $('#email').val();
        var emailPassword = $('#emailPassword').val();
        var smtpHost = $('#smtpHost').val();
        var smtpPort = parseInt($('#smtpPort').val());
        if(isNaN(smtpPort))
            return;
        var smtpIsUseSsl = $('#smtpIsUseSsl').prop("checked");
        var url = "/Admin/UpSmtpEmailInfo?pt="+pt;
        $.ajax (
            {
                url: url,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "Email":email,
                    "AccountName":accountName,
                    "EmailPassword":emailPassword,
                    "SmtpHost":smtpHost,
                    "SmtpPort":smtpPort,
                    "SmtpIsUseSsl":smtpIsUseSsl
                }),
                success: function(data, status){
                    if(data['code']==1){
                        Gb_NotifShow("更改成功-配置已存储");
                    }else{
                        Gb_NotifShow(data['tipMessage'],"primary");
                    }
                },
                error: function(err){
                    Gb_NotifShow("更改失败err","danger");
                    console.log(err)
                }
            }
        );
    }

    // ajax调用 备份数据
    function dataBackClick(){
        var pt = $('#pt').val();
        var dbUserName = $('#dbUserName').val();
        var dbPassword = $('#dbPassword').val();
        if(Gb_IsWhiteSpaceOrNull(dbUserName)||Gb_IsWhiteSpaceOrNull(dbPassword))
            return;
        var url = "/Admin/BackupData?pt="+pt;
        $.ajax (
            {
                url: url,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "DbUserName":dbUserName,
                    "DbPassword":dbPassword,
                }),
                success: function(data, status){
                    if(data['code']==1){
                        Gb_NotifShow("数据备份执行成功");
                        // 跳转下载链接
                        window.location.href=data['data'];
                    }else{
                        Gb_NotifShow(data['tipMessage'],"primary");
                    }
                },
                error: function(err){
                    Gb_NotifShow("备份失败err","danger");
                    console.log(err)
                }
            }
        );
    }
</script>