@model LeaveMessageViewModel
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        未审核的评论
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" id="comment-body">
        @{
            if (Model?.NotPassComments?.Count>0)
            {
                  <div id="comment-cards">
                  @foreach (var item in Model?.NotPassComments)
                  {
                    <div class="card" itemCardId="@item.Id">
                        <div class="card-body">
                        <p class="card-title">
                            <span>昵称:</span><span class="text-info bg-dark">@item.Name</span><br>
                            <span>邮箱:</span><span class="text-info bg-dark">@item.Email</span><br>
                            <span>站点:</span><span class="text-info bg-dark">@(string.IsNullOrWhiteSpace(item.SiteUrl)?"无":item.SiteUrl)</span><br>
                            <span>评论时间:</span><span class="text-info bg-dark">@item.CommentTime</span><br>
                            <span>IP:</span><span class="text-info bg-dark">@item.ClientIp</span><br>
                            <span>页面链接:</span><span class="text-info"><a target="_blank" href="@item.RelatedArticleUrl">@(string.IsNullOrWhiteSpace(item.RelatedArticle?.Title)?"无标题":item.RelatedArticle?.Title)</a></span>
                        </p>
                        <p class="card-text text-info bg-dark">@item.Content</p>
                        <p class="card-text">
                            <button type="button" onclick="passMsg(this,1,false,false)" class="btn btn-primary btn-sm">通过</button>
                            <button type="button" onclick="passMsg(this,1,true,false)" class="btn btn-primary btn-sm">通过并回复</button>
                            <button type="button" onclick="passMsg(this,1,true,true)" class="btn btn-primary btn-sm">通过并回复且抄送邮件</button>
                            <button type="button" onclick="delMsg(this,1,false)" class="btn btn-danger btn-sm">删除</button>
                            <button type="button" onclick="delMsg(this,1,true)" class="btn btn-danger btn-sm">删除且发送邮件提醒</button>
                        </p>
                        </div>
                    </div>
                    <br>
                  }
                  </div>
                  <nav aria-label="...">
                  <ul class="pagination">
                  <li class="page-item">
                  <button id="commentPrePageBtn" bluesky-data-type="comment" bluesky-page-type="pre" class="page-link" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="" href="javascript:;" onclick="commentOrReplyPageClick(this)" bluesky-index="0">往上</button>
                  </li>
                  <li class="page-item">
                  <button id="commentNextPageBtn" bluesky-data-type="comment" bluesky-page-type="Next" class="page-link" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="" href="javascript:;" onclick="commentOrReplyPageClick(this)" bluesky-index="2">往下</button>
                  </li>
                  </ul>
                  </nav>
            }else
            {
                <div class="alert alert-primary" role="alert">没有未审核的评论</div>
            }
        }
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        未审核的回复
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        @{
            if (Model?.NotPassReplies?.Count>0)
            {
                  <div id="reply-cards">
                  @foreach (var item in Model?.NotPassReplies)
                  {
                    <div class="card" itemCardId="@item.Id">
                        <div class="card-body">
                        <p class="card-title">
                            <span>昵称:</span><span class="text-info bg-dark">@item.Name</span><br>
                            <span>邮箱:</span><span class="text-info bg-dark">@item.Email</span><br>
                            <span>站点:</span><span class="text-info bg-dark">@(string.IsNullOrWhiteSpace(item.SiteUrl)?"无":item.SiteUrl)</span><br>
                            <span>回复时间:</span><span class="text-info bg-dark">@item.ReplyTime</span><br>
                            <span>IP:</span><span class="text-info bg-dark">@item.ClientIp</span><br>
                            <span>页面链接:</span><span class="text-info"><a target="_blank" href="@item.RelatedArticleUrl">@(string.IsNullOrWhiteSpace(item.RelatedArticle?.Title)?"无标题":item.RelatedArticle?.Title)</a></span>
                        </p>
                        <p class="card-text text-info bg-dark">@item.Content</p>
                        <p class="card-text">
                            <div class="accordion accordion-flush" id="accordionFlush@(item.Id)RelatedComment">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading@(item.Id)RelatedComment">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(item.Id)RelatedComment" aria-expanded="false" aria-controls="flush-collapse@(item.Id)RelatedComment">
                                    --显示此回复所在的评论--
                                    </button>
                                    </h2>
                                    <div id="flush-collapse@(item.Id)RelatedComment" class="accordion-collapse collapse" aria-labelledby="flush-heading@(item.Id)RelatedComment" data-bs-parent="#accordionFlush@(item.Id)RelatedComment">
                                        <div class="accordion-body">
                                            <div class="card">
                                                <div class="card-body">
                                                <p class="card-title">
                                                    <span>昵称:</span><span class="text-info bg-dark">@item?.RelatedComment?.Name</span>
                                                    <span>邮箱:</span><span class="text-info bg-dark">@item?.RelatedComment?.Email</span>
                                                    <span>站点:</span><span class="text-info bg-dark">@(string.IsNullOrWhiteSpace(item?.RelatedComment?.SiteUrl)?"无":item?.RelatedComment?.SiteUrl)</span><br>
                                                    <span>评论时间:</span><span class="text-info bg-dark">@item?.RelatedComment?.CommentTime</span>
                                                    <span>IP:</span><span class="text-info bg-dark">@item?.RelatedComment?.ClientIp</span>
                                                </p>
                                                <p class="card-text text-info bg-dark">@item?.RelatedComment?.Content</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p class="card-text">
                            <button type="button" onclick="passMsg(this,2,false,false)" class="btn btn-primary btn-sm">通过</button>
                            <button type="button" onclick="passMsg(this,2,true,false)" class="btn btn-primary btn-sm">通过并回复</button>
                            <button type="button" onclick="passMsg(this,2,true,true)" class="btn btn-primary btn-sm">通过并回复且抄送邮件</button>
                            <button type="button" onclick="delMsg(this,2,false)" class="btn btn-danger btn-sm">删除</button>
                            <button type="button" onclick="delMsg(this,2,true)" class="btn btn-danger btn-sm ">删除且发送邮件提醒</button>
                        </p>
                        </div>
                    </div>
                    <br>
                  }
                  </div>
                  <nav aria-label="...">
                  <ul class="pagination">
                  <li class="page-item">
                  <button id="replyPrePageBtn" bluesky-data-type="reply" bluesky-page-type="pre" class="page-link" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="" href="javascript:;" onclick="commentOrReplyPageClick(this)" bluesky-index="0">往上</button>
                  </li>
                  <li class="page-item">
                  <button id="replyNextPageBtn" bluesky-data-type="reply" bluesky-page-type="Next"class="page-link" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="" href="javascript:;" onclick="commentOrReplyPageClick(this)" bluesky-index="2">往下</button>
                  </li>
                  </ul>
                  </nav>
            }else
            {
                <div class="alert alert-primary" role="alert">没有未审核的回复</div>
            }
        }
      </div>
    </div>
  </div>
</div>
<div id="supplyMsgmodal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="row">
        <span style="width:10%"></span>
        <textarea  style="width:80%" id="supplyMsgInput" type="text" maxlength="137" class="form-control" placeholder="附带信息.."></textarea>
        <span style="width:10%"></span>
    </div>
    </div>
</div>

<script>
    // 未审核的评论或回复 数据加载按钮
    function commentOrReplyPageClick(target){
        var targetId = target.getAttribute('id');
        var needIndex = $('#'+targetId).attr('bluesky-index');
        if(needIndex<=0){
            Gb_PopoverShow(targetId, "已是第一页");
            return;
        }
        var pt = $("#pt").val();
        // 获取按钮所处的操作类型，回复还是评论
        var dtypeValue = $('#'+targetId).attr('bluesky-data-type');
        var url = "";
        var dtype = 0;
        if(dtypeValue=="comment"){
            url = '/AdminLeaveMessage/GetNotPassComments?pt='+pt+'&index='+needIndex;
            dtype = 1;
        }else{
            url = '/AdminLeaveMessage/GetNotPassReplies?pt='+pt+'&index='+needIndex;
            dtype = 2;
        }

        pageBtnRepaintMessageCom(targetId, dtype, url);
    }

    // 分页加载 ajax调用加载数据 targetId：点击的按钮id；dtype：1评论2回复；
    function pageBtnRepaintMessageCom(targetId, dtype, url){
        $.ajax (
            {
                url: url,
                type: "GET",
                success: function(data, status){
                    if(data['code']==1){
                        // 重绘为当前获取的数据
                        if(dtype==1){
                            if(data['data']['notPassComments'].length<=0)
                            {
                                // 没有更多评论数据
                                Gb_PopoverShow(targetId, "无更多数据");
                                return;
                            }
                            $("#comment-cards").children().remove();
                            var newDomStr = linkCommentComStr(data['data']['notPassComments']);
                            $("#comment-cards").append(newDomStr);
                        }else{
                            if(data['data']['notPassReplies'].length<=0)
                            {
                                // 没有更多回复数据
                                Gb_PopoverShow(targetId, "无更多数据");
                                return;
                            }
                            $("#reply-cards").children().remove();
                            var newDomStr = linkReplyComStr(data['data']['notPassReplies']);
                            $("#reply-cards").append(newDomStr);
                        }
                        // 更改页索引的值
                        var pgType = $('#'+targetId).attr('bluesky-page-type');
                        // bluesky-data-type的具体值 comment还是reply
                        var dtypeAttrValue = dtype==1?"comment":"reply";
                        // 按钮id为，往上：commentPrePageBtn|replyPrePageBtn 往下：commentNextPageBtn，replyNextPageBtn
                        var dTypePreBtnIndex = $('#'+dtypeAttrValue+"PrePageBtn").attr('bluesky-index');
                        var dTypeNextBtnIndex = $('#'+dtypeAttrValue+"NextPageBtn").attr('bluesky-index');

                        // 点击的是"往上"还是"往下"，往上：上页下页都减去1，往下：上页下页都加1
                        if(pgType=="pre"){
                            $('#'+dtypeAttrValue+"PrePageBtn").attr('bluesky-index', parseInt(dTypePreBtnIndex)-1);
                            $('#'+dtypeAttrValue+"NextPageBtn").attr('bluesky-index', parseInt(dTypeNextBtnIndex)-1);
                        }else{
                            $('#'+dtypeAttrValue+"PrePageBtn").attr('bluesky-index', parseInt(dTypePreBtnIndex)+1);
                            $('#'+dtypeAttrValue+"NextPageBtn").attr('bluesky-index', parseInt(dTypeNextBtnIndex)+1);
                        }
                        window.scrollTo(0,0);
                    }else{
                        Gb_PopoverShow(targetId, data['tipMessage'],true);
                    }
                },
                error: function(err){
                    Gb_PopoverShow(targetId, "加载失败err",true);
                    console.log(err)
                },
                complete: function(){
                    // 无论如何执行此回调
                }
            }
        );
    }

    // 拼接评论列表为一系列卡片元素
    function linkCommentComStr(theCommentsData){
        var comLinkStr = "";

        $.each(theCommentsData, function(i,cmtItem){
            var siteUrlStr = !Gb_IsWhiteSpaceOrNull(cmtItem.siteUrl)?cmtItem.siteUrl:"无";
            var articleTitle = !Gb_IsWhiteSpaceOrNull(cmtItem.relatedArticle?.title)?cmtItem.relatedArticle?.title:"无标题";
            comLinkStr += '<div class="card" itemCardId="'+
            cmtItem.id+
            '"><div class="card-body"><p class="card-title"><span>昵称:</span><span class="text-info bg-dark">'+
            cmtItem.name+'</span><br><span>邮箱:</span><span class="text-info bg-dark">'+
            cmtItem.email+'</span><br><span>站点:</span><span class="text-info bg-dark">'+
            siteUrlStr+'</span><br><span>评论时间:</span><span class="text-info bg-dark">'+
            cmtItem.commentTime+'</span><br><span>IP:</span><span class="text-info bg-dark">'+
            cmtItem.clientIp+'</span><br><span>页面链接:</span><span class="text-info"><a target="_blank" href="'+
            cmtItem.relatedArticleUrl+'">'+
            articleTitle+'</a></span></p><p class="card-text text-info bg-dark">'+
            cmtItem.content+'</p><p class="card-text"><button type="button" onclick="passMsg(this,1,false,false)" class="btn btn-primary btn-sm">通过</button>'+
            '<button type="button" onclick="passMsg(this,1,true,false)" class="btn btn-primary btn-sm">通过并回复</button>'+
            '<button type="button" onclick="passMsg(this,1,true,true)" class="btn btn-primary btn-sm">通过并回复且抄送邮件</button>'+
            '<button type="button" onclick="delMsg(this,1,false)" class="btn btn-danger btn-sm">删除</button>'+
            '<button type="button" onclick="delMsg(this,1,true)" class="btn btn-danger btn-sm">删除且发送邮件提醒</button></p></div></div><br>';
        });  
        return comLinkStr;
    }

    // 拼接回复列表为一系列卡片元素
    function linkReplyComStr(theRepliesData){
        var comLinkStr = "";

        $.each(theRepliesData, function(i,rpItem){
        var siteUrlStr = !Gb_IsWhiteSpaceOrNull(rpItem.siteUrl)?rpItem.siteUrl:"无";
        var articleTitle = !Gb_IsWhiteSpaceOrNull(rpItem.relatedArticle?.title)?rpItem.relatedArticle?.title:"无标题";
        var siteUrlRelatedCmtStr = !Gb_IsWhiteSpaceOrNull(rpItem.relatedComment?.siteUrl)?rpItem.relatedComment?.siteUrl:"无";
            comLinkStr += '<div class="card" itemCardId="'+
            rpItem.id+
            '"><div class="card-body"><p class="card-title"><span>昵称:</span><span class="text-info bg-dark">'+
            rpItem.name+'</span><br><span>邮箱:</span><span class="text-info bg-dark">'+
            rpItem.email+'</span><br><span>站点:</span><span class="text-info bg-dark">'+
            siteUrlStr+'</span><br><span>回复时间:</span><span class="text-info bg-dark">'+
            rpItem.replyTime+'</span><br><span>IP:</span><span class="text-info bg-dark">'+
            rpItem.clientIp+'</span><br><span>页面链接:</span><span class="text-info"><a target="_blank" href="'+
            rpItem.relatedArticleUrl+'">'+
            articleTitle+'</a></span></p><p class="card-text text-info bg-dark">'+
            rpItem.content+'</p><p class="card-text"><div class="accordion accordion-flush" id="accordionFlush'+
            rpItem.id+'RelatedComment"><div class="accordion-item"><h2 class="accordion-header" id="flush-heading'+
            rpItem.id+'RelatedComment"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse'+
            rpItem.id+'RelatedComment" aria-expanded="false" aria-controls="flush-collapse'+
            rpItem.id+'RelatedComment">--显示此回复所在的评论--</button></h2><div id="flush-collapse'+
            rpItem.id+'RelatedComment" class="accordion-collapse collapse" aria-labelledby="flush-heading'+
            rpItem.id+'RelatedComment" data-bs-parent="#accordionFlush'+
            rpItem.id+'RelatedComment"><div class="accordion-body"><div class="card"><div class="card-body"><p class="card-title"><span>昵称:</span><span class="text-info bg-dark">'+
            rpItem.relatedComment?.name+'</span><span>邮箱:</span><span class="text-info bg-dark">'+
            rpItem.relatedComment?.email+'</span><span>站点:</span><span class="text-info bg-dark">'+
            siteUrlRelatedCmtStr+'</span><br><span>评论时间:</span><span class="text-info bg-dark">'+
            rpItem.relatedComment?.commentTime+'</span><span>IP:</span><span class="text-info bg-dark">'+
            rpItem.relatedComment?.clientIp+'</span></p><p class="card-text text-info bg-dark">'+
            rpItem.relatedComment?.content+'</p></div></div></div></div></div></div>'+
            '</p><p class="card-text"><button type="button" onclick="passMsg(this,2,false,false)" class="btn btn-primary btn-sm">通过</button>'+
            '<button type="button" onclick="passMsg(this,2,true,false)" class="btn btn-primary btn-sm">通过并回复</button>'+
            '<button type="button" onclick="passMsg(this,2,true,true)" class="btn btn-primary btn-sm">通过并回复且抄送邮件</button>'+
            '<button type="button" onclick="delMsg(this,2,false)" class="btn btn-danger btn-sm">删除</button>'+
            '<button type="button" onclick="delMsg(this,2,true)" class="btn btn-danger btn-sm">删除且发送邮件提醒</button></p></div></div><br>';
        });  
        return comLinkStr;
    }

    // ajax调用 通过|删除某评论或回复
    function passOrDelMsgAjaxCall(url, id, dtype, supplyReply=false, sendEmail=false, message=""){
        $.ajax (
            {
                url: url,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "Id":id,
                    "DType":dtype,
                    "SupplyReply":supplyReply,
                    "SendEmail":sendEmail,
                    "Message":message,
                }),
                success: function(data, status){
                    if(data['code']==1){
                        Gb_NotifShow(data['tipMessage']);
                        // 成功删除或通过，刷新当前页
                        currentIndexUrlToCall(dtype);
                    }else{
                        Gb_NotifShow(data['tipMessage'], 'primary');
                    }
                },
                error: function(err){
                    Gb_NotifShow("失败err", "danger");
                    console.log(err)
                },
                complete: function(){
                }
            }
        );
    }

    // 删除某评论或回复
    function delMsg(targer, dtype, sendEmail){
        var passToken = $('#pt').val();
        var url = '/AdminLeaveMessage/DeleteOneMsg?pt='+passToken;
        var id = $(targer).closest('.card').attr('itemCardId');
        if(sendEmail){
            // 若删除某评论需要附带邮件提醒，输入提醒内容
            UIkit.modal.prompt('输入邮件提醒内容:', '').then(function(msg) {
                if(!Gb_IsWhiteSpaceOrNull(msg)){
                    passOrDelMsgAjaxCall(url, id, dtype, false, sendEmail, msg.trimF());
                    return;
                }
                Gb_NotifShow("请输入提醒内容", "primary");
            });
            return;
        }
        // 删除某评论不需要发邮件
        passOrDelMsgAjaxCall(url,id,dtype,false,sendEmail,null);
        
    }

    // 审核通过某评论或回复
    function passMsg(targer, dtype, supplyReply, sendEmail){
        var passToken = $('#pt').val();
        var url = '/AdminLeaveMessage/PassOneMsg?pt='+passToken;
        var id = $(targer).closest('.card').attr('itemCardId');
        if(supplyReply){
            // 若通过某评论需要一并回复，输入回复内容 是否抄送邮件直接根据按钮传递的sendEmail值 必须选择回复才能决定抄送邮件
            UIkit.modal.prompt('输入回复内容:', '').then(function(msg) {
                if(!Gb_IsWhiteSpaceOrNull(msg)){
                    passOrDelMsgAjaxCall(url, id, dtype, true, sendEmail, msg.trimF());
                    return;
                }
                Gb_NotifShow("请输入回复内容", "primary");
            });
            return;
        }
        // 通过某评论不需要追加回复
        passOrDelMsgAjaxCall(url,id,dtype,false,false,null);
    }

    // 点击删除或通过按钮成功后 判断当前操作类型 计算当前页 传递当前页url给ajax调用刷新当前页
    function currentIndexUrlToCall(dtype){
        // 重新调用当前页的列表数据 追加为最新数据
        var currntIndexUrl = "";
        var passToken = $('#pt').val();
        if(dtype==1){
            // 评论操作类型，未审核评论下一页按钮id为commentNextPageBtn，获取它的下一页按钮的索引值-1就是当前分页索引
            var currentIndex = parseInt($('#commentNextPageBtn').attr('bluesky-index'))-1;
            currntIndexUrl = '/AdminLeaveMessage/GetNotPassComments?pt='+passToken+'&index='+currentIndex;
        }else{
            // 回复操作类型，未审核回复下一页按钮id为replyNextPageBtn，获取它的下一页按钮的索引值-1就是当前分页索引
            var currentIndex = parseInt($('#replyNextPageBtn').attr('bluesky-index'))-1;
            currntIndexUrl = '/AdminLeaveMessage/GetNotPassReplies?pt='+passToken+'&index='+currentIndex;
        }
        // ajax最终调用
        ctrBtnRepaintMessageCom(currntIndexUrl, dtype);
    }

    // 点击删除或通过按钮成功后 ajax调用重绘当前页为最新数据(不是分页按钮)
    function ctrBtnRepaintMessageCom(url, dtype){
        $.ajax (
            {
                url: url,
                type: "GET",
                success: function(data, status){
                    if(data['code']==1){
                        // 重绘为当前获取的数据
                        if(dtype==1){
                            if(data['data']['notPassComments'].length<=0)
                            {
                                Gb_NotifShow("---当前页没有更多回复数据，3秒后将自动刷新，请勿操作---", "primary");
                                setTimeout(function () {
                                    // 当前页没有更多评论数据 意味着当前页的获取量可能超过了总量，重定向到第一页初始化
                                    window.location.href="/AdminLeaveMessage/LeaveNotPassAmManagement?pt="+$('#pt').val();
                                }, 3000);
                                return;
                            }
                            $("#comment-cards").children().remove();
                            var newDomStr = linkCommentComStr(data['data']['notPassComments']);
                            $("#comment-cards").append(newDomStr);
                        }else{
                            if(data['data']['notPassReplies'].length<=0)
                            {
                                Gb_NotifShow("---当前页没有更多回复数据，3秒后将自动刷新，请勿操作---", "primary");
                                setTimeout(function () {
                                    // 当前页没有更多回复数据 意味着当前页的获取量可能超过了总量，重定向到第一页初始化
                                    window.location.href="/AdminLeaveMessage/LeaveNotPassAmManagement?pt="+$('#pt').val();
                                }, 3000);
                                return;
                            }
                            $("#reply-cards").children().remove();
                            var newDomStr = linkReplyComStr(data['data']['notPassReplies']);
                            $("#reply-cards").append(newDomStr);
                        }
                        window.scrollTo(0,0);
                    }else{
                        Gb_NotifShow("(通过|删除)重绘当前页 "+data['data']['tipMessage'], "'primary'");
                    }
                },
                error: function(err){
                    Gb_NotifShow("(通过|删除)重绘当前页 加载失败err", "danger");
                    console.log(err)
                },
                complete: function(){
                    // 无论如何执行此回调
                }
            }
        );
    }
</script>

