@model LeaveMessageViewModel
<div >
<form method="get">
<input name="kw" class="form-control me-2" type="search" placeholder="" aria-label="Search">
<input hidden name="pt" value="@Model.PassToken">
<button class="btn btn-dark" type="submit" asp-action="ArticleAmManagement" asp-controller="AdminArticle">搜索</button>
</form>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        未审核的评论
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        @{
            if (Model?.NotPassComments?.Count>0)
            {
                  @foreach (var item in Model?.NotPassComments)
                  {
                    <div class="card">
                        <div class="card-body">
                        <p class="card-title">
                            <span>昵称:</span><span class="text-info bg-dark">@item.Name</span>
                            <span>邮箱:</span><span class="text-info bg-dark">@item.Email</span>
                            <span>站点:</span><span class="text-info bg-dark">@(string.IsNullOrWhiteSpace(item.SiteUrl)?"无":item.SiteUrl)</span><br>
                            <span>评论时间:</span><span class="text-info bg-dark">@item.CommentTime</span>
                            <span>IP:</span><span class="text-info bg-dark">@item.ClientIp</span>
                        </p>
                        <p class="card-text text-info bg-dark">@item.Content</p>
                        <p class="card-text">
                            <button type="button" class="btn btn-primary btn-sm">通过</button>
                            <button type="button" class="btn btn-primary btn-sm">通过并回复</button>
                            <button type="button" class="btn btn-primary btn-sm">通过并回复且附送邮件</button>
                            <button type="button" class="btn btn-danger btn-sm">删除</button>
                            <button type="button" class="btn btn-danger btn-sm">删除且发送邮件提醒</button>
                        </p>
                        </div>
                    </div>
                    <br>
                  }
                  <nav aria-label="...">
                  <ul class="pagination">
                  <li class="page-item">
                  <a class="page-link" href="#">更多</a>
                  </li>
                  </ul>
                  </nav>
            }else
            {
                <div class="alert alert-primary" role="alert">没有未审核的评论</div>
            }
        }
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        未审核的回复
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        @{
            if (Model?.NotPassReplies?.Count>0)
            {
                  @foreach (var item in Model?.NotPassReplies)
                  {
                    <div class="card">
                        <div class="card-body">
                        <p class="card-title">
                            <span>昵称:</span><span class="text-info bg-dark">@item.Name</span>
                            <span>邮箱:</span><span class="text-info bg-dark">@item.Email</span>
                            <span>站点:</span><span class="text-info bg-dark">@(string.IsNullOrWhiteSpace(item.SiteUrl)?"无":item.SiteUrl)</span><br>
                            <span>评论时间:</span><span class="text-info bg-dark">@item.ReplyTime</span>
                            <span>IP:</span><span class="text-info bg-dark">@item.ClientIp</span>
                        </p>
                        <p class="card-text text-info bg-dark">@item.Content</p>
                        <p class="card-text">
                            <div class="accordion accordion-flush" id="accordionFlush@(item.Id)RelatedComment">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading@(item.Id)RelatedComment">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(item.Id)RelatedComment" aria-expanded="false" aria-controls="flush-collapse@(item.Id)RelatedComment">
                                    --显示此回复所在的评论--
                                    </button>
                                    </h2>
                                    <div id="flush-collapse@(item.Id)RelatedComment" class="accordion-collapse collapse" aria-labelledby="flush-heading@(item.Id)RelatedComment" data-bs-parent="#accordionFlush@(item.Id)RelatedComment">
                                        <div class="accordion-body">
                                            <div class="card">
                                                <div class="card-body">
                                                <p class="card-title">
                                                    <span>昵称:</span><span class="text-info bg-dark">@item?.RelatedComment?.Name</span>
                                                    <span>邮箱:</span><span class="text-info bg-dark">@item?.RelatedComment?.Email</span>
                                                    <span>站点:</span><span class="text-info bg-dark">@(string.IsNullOrWhiteSpace(item?.RelatedComment?.SiteUrl)?"无":item?.RelatedComment?.SiteUrl)</span><br>
                                                    <span>评论时间:</span><span class="text-info bg-dark">@item?.RelatedComment?.CommentTime</span>
                                                    <span>IP:</span><span class="text-info bg-dark">@item?.RelatedComment?.ClientIp</span>
                                                </p>
                                                <p class="card-text text-info bg-dark">@item?.RelatedComment?.Content</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p class="card-text">
                            <button type="button" class="btn btn-primary btn-sm">通过</button>
                            <button type="button" class="btn btn-primary btn-sm">通过并回复</button>
                            <button type="button" class="btn btn-primary btn-sm">通过并回复且附送邮件</button>
                            <button type="button" class="btn btn-danger btn-sm">删除</button>
                            <button type="button" class="btn btn-danger btn-sm">删除且发送邮件提醒</button>
                        </p>
                        </div>
                    </div>
                    <br>
                  }
                  <nav aria-label="...">
                  <ul class="pagination">
                  <li class="page-item">
                  <a class="page-link" href="#">更多</a>
                  </li>
                  </ul>
                  </nav>
            }else
            {
                <div class="alert alert-primary" role="alert">没有未审核的回复</div>
            }
        }
      </div>
    </div>
  </div>
</div>
<script>
</script>