@model ArticleViewModel
<div asp-validation-summary="All" class="text-danger">
</div>
<input  id="pt" type="hidden" value="@Model.PassToken">
<form method="post">
    <div class="form-group">
        <input asp-for="PassToken" type="hidden" value="@Model.PassToken" class="form-control">
    </div>
    <div class="form-group">
        <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control">
    </div>
    <div class="form-group row">
    <label asp-for="Title" class="col-sm-2 col-form-label">标题</label>
    <div class="col-sm-10">
        <input asp-for="Title"  type="text" class="form-control" maxlength="25">
    </div>
    </div>
    <div class="form-group row">
    <label asp-for="Abstract" class="col-sm-2 col-form-label">摘要描述</label>
    <div class="col-sm-10">
        <input asp-for="Abstract" type="text" class="form-control" maxlength="150">
    </div>
    </div>
    <div class="form-group row">
    <label for="textarea">主体内容</label>
    <textarea asp-for="Content" class="form-control" id="textarea" rows="10" maxlength="9000"></textarea>
    </div>
    <!--富文本按钮组-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('h3')">大标题</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('h5')">小型标题</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('strong')">粗体</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('em')">斜体</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('u')">下划线</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('del')">中间线文本</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('br')">另起一行</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('code')">代码块</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('mark')">标记</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('a')">外链接</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('blockquote')">引用文</button>
        <button type="button" class="btn btn-secondary" onclick="RichElementsClick('ul')">列表项</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="third group">
            <button type="button" class="btn btn-secondary" onclick="RichElementsClick('bimg')">图片链接(放大尺寸,会损失质量)</button>
            <button type="button" class="btn btn-secondary" onclick="RichElementsClick('oimg')">图片链接(原始尺寸)</button>
            <button type="button" class="btn btn-secondary" onclick="RichElementsClick('cimg')">图片链接(迷你式)</button>
        </div>
    </div>
    <br/>
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
            <label class="custom-control-label">存放的菜单</label>
            </div>
        </div>
        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2"  asp-for="MenuId" >
            @foreach (var menuSel in @Model.MenuSelectList)
            {
                // 若文章的菜单id有值，则一定能匹配到菜单id，默认选中。没有值便是新增文章
                var arr = Model.MenuId==menuSel.Value  ? "selected" : "";
                <!option asp-for="MenuId" name="MenuId" value="@menuSel.Value" @arr>@menuSel.Text</!option>
            }
            @{
                //若是特殊文章 MenuId是-1，它在Menu表中一定不存在，后台不会关联Menu。
            }
            <option asp-for="MenuId" name="MenuId" value="-1">-特殊文章归档-</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">是否显示文章的标题</div>
        <div class="col-sm-10">
            <div class="form-check">
            @if (Model.MenuId<=0)
            {
                <input asp-for="IsShowTitle"  class="form-check-input" type="checkbox" checked>
            }else{
                <input asp-for="IsShowTitle"  class="form-check-input" type="checkbox">
            }
            <label asp-for="IsShowTitle" class="form-check-label"><small>(不勾选可以在文章列表中隐藏标题)</small></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">这是草稿</div>
        <div class="col-sm-10">
            <div class="form-check">
            <input asp-for="IsDraft"  class="form-check-input" type="checkbox">
            <label asp-for="IsDraft" class="form-check-label" ><small>(草稿文章不会显示)</small></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">加锁文章</div>
        <div class="col-sm-10">
            <div class="form-check">
            <input asp-for="IsLock"  class="form-check-input" type="checkbox" onchange="LockChange()">
            <label asp-for="IsLock" class="form-check-label" ><small>(是否加锁文章，加锁文章需在页面解锁才显示主体内容)</small></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">特殊文章</div>
        <div class="col-sm-10">
            <div class="form-check">
            <input asp-for="IsSpecial" class="form-check-input" type="checkbox">
            <label asp-for="IsSpecial" class="form-check-label" ><small>(是否是特殊文章，通常"关于"、"友链"等内容可以定义为特殊文章。特殊文章不会在列表显示和搜索到，你可以复制特殊文章的链接嵌入到博客你想显示的地方，例如"看看这些"组件。若想显示独立网页，还可以去后台面板上传HTML文件)</small></label>
            </div>
        </div>
    </div>
    <div id="lockHidDiv" class="form-group row" @(Model.IsLock?"":"hidden='hidden'")>
        <label asp-for="LockPassword" class="col-sm-2 col-form-label"><small>密码</small></label>
        <div class="col-sm-10">
            <input asp-for="LockPassword" type="text" class="form-control" placeholder="若设为加锁文章，请设置解锁密码">
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
            <label class="custom-control-label">评论类型</label>
            </div>
        </div>
        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2"  asp-for="CommentType" >
                <option asp-for="CommentType" name="CommentType" value="3">不允许评论</option>
                <option asp-for="CommentType" name="CommentType" value="1">公开</option>
                <option asp-for="CommentType" name="CommentType" value="2">需要审核</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
    <label asp-for="Labels" class="col-sm-2 col-form-label">标签</label>
    <p><small>(标签相当于文章提炼关键字词，可以设置自定义词汇，多个标签请用空格或逗号隔开吧！)</small></p>
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <input asp-for="Labels" type="text" class="form-control" maxlength="50">
    </div>
    </div>
    <div class="form-group row">
    <label asp-for="CustUri" class="col-sm-2 col-form-label">自定义文章Uri</label>
    <p><small>(你可以自定义文章Uri，这样可以使用特定的Uri访问此篇文章，若不需要可以忽略哦)</small></p>
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <input asp-for="CustUri" type="text" class="form-control" maxlength="50">
    </div>
    </div>
    <div class="form-group row">
        @if (Model.MenuId > 0||Model.MenuId == -1)
        {
            // Model.MenuId == -1 特殊文章的MenuId为-1，是不存在归属菜单的
            <div class="col-sm-2">
                <div class="form-check">
                <input asp-for="UpTimeLine"  class="form-check-input" type="checkbox" checked>
                <label asp-for="UpTimeLine" class="form-check-label">更新时间线</label>
                </div>
            </div>
        }
        <div class="col-sm-10">
            <button asp-action="ArticleEdit" asp-controller="AdminArticle" type="submit" class="btn btn-primary">发表(￣︶￣)↗</button>
        </div>
    </div>
</form>
<div class="modal fade" id="richPutModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richPutModalTip"></h5>
      </div>
      <div class="modal-body">
        <span>添加当前内容</span>
        <div class="input-group richPutModalDiv" id="richPutModalTextAreaDiv">
        <textarea style="height:250px" class="form-control" aria-label="With textarea" id="richPutModalTextArea"></textarea>
        </div>
        <div class="input-group mb-3 richPutModalDiv" id="richPutModalADiv">
          <span class="input-group-text" id="inputGroup-sizing-default">链接名称</span>
          <input id="richPutModalAName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <span class="input-group-text" id="inputGroup-sizing-default">链接地址</span>
          <input id="richPutModalAHref" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 richPutModalDiv" id="richPutModalImgDiv">
            <input style="width:70%" type="text" class="form-control input-group-sm" id="toSearchImgKey" placeholder="输入想插入的图片关键字词">
            <button style="width:30%" class="btn btn-outline-primary" type="button" id="toSearchImgBtn" onclick="toSearchImgBtnClick()">搜索图片</button>
            <label class="input-group-text" for="richPutModalImg">选择上传的图片</label>
            <select class="form-select" id="richPutModalImg" onchange="richPutModalImgSelected()">
            <option value="">--不选定 主动指定第三方图片url--</option>
            @foreach (var fpItem in Model.ImgRelPaths)
            {
                <option value="@fpItem.FileRelPath">@fpItem.HelpName</option>
            }
            </select>
            <input style="width:100%" type="text" class="form-control input-group-sm" id="richPutModalUnofficialImg" placeholder="第三方图片url(不选定时)">
        </div>
        <div class="input-group mb-3 richPutModalDiv" id="richPutModalUlDiv">
          <input style="width:100%" placeholder="输入项文字" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <button type="button" class="btn btn-secondary btn-sm" id="richPutModalUlAddItemBtn" onclick="richPutModalUlAdd()">再添加一项</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CloseRichPutModal()">关闭</button>
        <button type="button" class="btn btn-primary" id="richPutModalOk" onclick="LinkRichTextPut()">完成</button>
      </div>
    </div>
  </div>
</div>

<script>
    // 定义富文本按钮对应的提示文本
    var richPutModalTips = {
        "h3":"大标题文字", "h5":"小标题文字", "strong":"粗体样式", "em":"斜体样式", "u":"下划线样式", 
        "br":"另起一行", "mark":"标记样式", "del":"有中间线的文字", "code":"代码块",
        "a":"链接", "blockquote":"引用文", "ul":"列表项", "bimg":"图片链接(放大尺寸,会损失质量)",
        "oimg":"图片链接(原始尺寸)", "cimg":"图片链接(迷你式)"
    };
    var currentRichName = "";//当前富文本按钮点击的样式名
    var posLeftText = "";//光标在编辑框的位置左部分内容
    var posRightText = "";//光标在编辑框的位置右部分内容

    function LockChange(){
        var obj = document.getElementById("lockHidDiv");
        if(obj["hidden"]){
            obj.removeAttribute("hidden");
        }else{
            obj.setAttribute("hidden", "hidden");
        }
    }

    function RichElementsClick(eName){
        var textAreaText = $("#textarea").val();//获取当前文章编辑框输入了的内容
        var caretPos = $("#textarea").prop("selectionStart");//获取当前光标在编辑框的位置
        posLeftText = textAreaText.substring(0, caretPos);
        posRightText = textAreaText.substring(caretPos);
        // 按点击了的富文本按钮，设置弹出框的提示文本
        $('#richPutModalTip').text(richPutModalTips[eName]);
        // 给弹出框多种可能的div(超链接、文本、图片)设置隐藏属性
        $('.richPutModalDiv').attr("hidden", "hidden");
        // 判断当前点击的是哪个富文本按钮，显示对应的弹出框div
        switch(eName){
            case 'a':
                $('#richPutModalADiv').removeAttr("hidden");
                break;
            case 'ul':
                $('#richPutModalUlDiv').removeAttr("hidden");
                break;
            case 'bimg':
            case 'oimg':
            case 'cimg':
                $('#richPutModalImgDiv').removeAttr("hidden");
                break;
            default:
                $('#richPutModalTextAreaDiv').removeAttr("hidden");
                break;
        }
        currentRichName = eName;
        if(eName=="br"){
            // br元素就直接填充进去 不要多余弹出框
            LinkRichTextPut();
        }else{
            // 启动弹出框
            $('#richPutModal').modal('show');
        }
    }

    function LinkRichTextPut(){
        var htmlTextToPut = "";
        // 无论如何，获取弹出框div是richPutModalTextArea的值，因为此富文本按钮最多，后续会switch判断到正确的div是文本还是超链接还是选择图片
        var richPutModalText = $('#richPutModalTextArea').val();//弹出编辑框的text
        switch(currentRichName)
        {
            case 'h3':
                htmlTextToPut = posLeftText+'<h3>'+richPutModalText+'</h3>'+posRightText;
                break;
            case 'h5':
                htmlTextToPut = posLeftText+'<h5>'+richPutModalText+'</h5>'+posRightText;
                break;
            case 'strong':
                htmlTextToPut = posLeftText+'<strong>'+richPutModalText+'</strong>'+posRightText;
                break;
            case 'em':
                htmlTextToPut = posLeftText+'<em>'+richPutModalText+'</em>'+posRightText;
                break;
            case 'u':
                htmlTextToPut = posLeftText+'<u>'+richPutModalText+'</u>'+posRightText;
                break;
            case 'del':
                htmlTextToPut = posLeftText+'<del>'+richPutModalText+'</del>'+posRightText;
                break;
            case 'br':
                htmlTextToPut = posLeftText+'</br>'+posRightText;
                break;
            case 'code':
                htmlTextToPut = posLeftText+'<pre class="text text-danger bg-light">'+richPutModalText+'</pre>'+posRightText;
                break;
            case 'mark':
                htmlTextToPut = posLeftText+'<mark>'+richPutModalText+'</mark>'+posRightText;
                break;
            case 'a':
                var richPutModalANameValue = $('#richPutModalAName').val();//弹出编辑框超链接名称
                var richPutModalAHrefValue = $('#richPutModalAHref').val();//弹出编辑框超链接地址
                htmlTextToPut = posLeftText+'<a class="text text-primary" target="_blank" href="'+richPutModalAHrefValue+'">'+richPutModalANameValue+'</a>'+posRightText;
                break;
            case 'blockquote':
                htmlTextToPut = posLeftText+'<blockquote><em>'+richPutModalText+'</em></blockquote>'+posRightText;
                break;
            case 'ul':
                var richPutUlValue = '<ul>';
                // 获取列表项的值 richPutModalUlDiv下有多个输入框，按顺序迭代组成html字符串
                $("#richPutModalUlDiv input").each(function(){
                    richPutUlValue+='<li>'+this.value+'</li>';
                });
                richPutUlValue += '</ul>';
                htmlTextToPut = posLeftText+richPutUlValue+posRightText;
                break;
            case 'bimg':
            case 'oimg':
            case 'cimg':
                var richPutModalImgValue="";
                if($('#richPutModalImg').val()===""){
                    richPutModalImgValue = $('#richPutModalUnofficialImg').val();//输入的第三方图片路径
                }else{
                    richPutModalImgValue = $('#richPutModalImg option:selected').val();//下拉选择的图片相对路径名
                }
                // 将数据库存储的值有可能是windows'\\'目录分割的统一替换成标准斜杆，此行代码不是必须的。
                richPutModalImgValue = richPutModalImgValue.replace(/\\/g,"/");
                var b_htmlTextToPut = posLeftText+'<img src="'+richPutModalImgValue+'" style="width:100%;height:auto;" class="img-fluid mx-auto d-block" alt="">'+posRightText;
                var o_htmlTextToPut = posLeftText+'<img src="'+richPutModalImgValue+'" style="max-width:100%;max-height:100%;" class="img-fluid mx-auto d-block" alt="">'+posRightText;
                var c_htmlTextToPut = posLeftText+'<img src="'+richPutModalImgValue+'" style="width:55%;height:55%;" class="img-thumbnail rounded mx-auto d-block" alt="">'+posRightText;
                htmlTextToPut = currentRichName==='bimg'?b_htmlTextToPut:(currentRichName==='oimg'?o_htmlTextToPut:c_htmlTextToPut);
                break;
            default:
                return;
        }

        // 先获取焦点在设置值，确保光标位于输入框最后位置
        $('#textarea').focus().val(htmlTextToPut); 
        // 清空弹出框
        $('#richPutModalTextArea').val('')
        $('#richPutModalAName').val('')
        $('#richPutModalAHref').val('')
        $('#toSearchImgKey').val('')
        $('#richPutModalUnofficialImg').val('')
        $('#richPutModal').modal('hide');
        $("#richPutModalUlDiv input").remove();
        richPutModalUlAdd();
        currentRichName = "";
    }

    function CloseRichPutModal(){
        // 关闭清空弹出框
        $('#richPutModalTextArea').val('')
        $('#richPutModalAName').val('')
        $('#richPutModalAHref').val('')
        $('#toSearchImgKey').val('')
        $('#richPutModalUnofficialImg').val('')
        $('#richPutModal').modal('hide');
        $("#richPutModalUlDiv input").remove();
        richPutModalUlAdd();
    }

    function richPutModalUlAdd(){
        $('#richPutModalUlAddItemBtn').before('<input style="width:100%" placeholder="输入项文字" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">');
    }
</script>
